@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Satisfy&display=swap");


/* ***** Landing Page Styles ***** */

/* Header */

.header {
  position: relative;
  display: -ms-grid;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
}

.hd-title {
  position: absolute;
  top: 20%;
  left: 0;
  color: #FFFFFF;
  width: 100vw;
  font-size: x-large;
  text-align: center;
}


.hd-nav {
  position: absolute;
  top: 0;
  background-color: #000000;
}

.hd-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
  gap: 1rem;
  width: 100vw;
  padding-right: 2rem;
}

.hd-navbar li, a {
  list-style: none;
  color: #FFFFFF;
  padding-left: 0;
  font-size: small;
  font-weight: 600;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
}

.logo img {
  width: 70px;  
}




.hd-vid {
  position: relative;
  height: 75vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hd-vid video {
  z-index: 0;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



/* Services */

.services {
  background-color: #FE0000;
  padding: 1rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
}

.services .title {
  background-color: #FE0000;
  font-size: xx-large;
  color: #A8A9AD;
}

.services .service-cards {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.90);
}

.services .card-wrapper {
  background-color: white;
  max-width: 33%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

.services .card-wrapper .card-head {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

.services .card-wrapper .card-head img {
  width: 300px;
  height: 240px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.services .card-wrapper .card-foot h2 {
  color: #A8A9AD;
  font-size: xx-large;
  padding: 1px;
}

.services .card-wrapper .card-links {
  display: inline-flex;
  padding: 4px;
  gap: 30px;
  margin-bottom: 10px;
}

.services .card-wrapper .card-links button {
  background-color: #FFFFFF;
  border-color: #A8A9AD;
  color: #FE0000;
  border-radius: 20px;
  padding: 10px;
  font-family: Libre Franklin, sans-serif;
  font-size: medium;
  cursor: pointer;
}

.services .card-wrapper .card-links button:hover {
  background-color: #A8A9AD;
  color: #FFFFFF;
}

/* About Section */

.about {
  display: -ms-grid;
  display: grid;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "left right";
}

.about .aboutpic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.about .about-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  text-align: center;
  padding: 2rem;
}

.about .about-right .head {
  padding-bottom: 2rem;
  font-size: xx-large;
  color: #FE0000;
}

.about .about-right .about-description {
  margin: 0 20%;
  color: #A8A9AD;
}

/* Booking Section */

.book-container {
  background-color: #FE0000;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
  padding-bottom: 3rem;
}

.book-container .title {
  margin-top: 0px;
  padding-top: 3rem;
  font-size: xx-large;
  color: #A8A9AD;
}

.book-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  font-family: Libre Franklin, sans-serif;
  font-size: medium;
  background-color: #FFFFFF;
  padding: 2rem;
  border: 2px solid #A8A9AD;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.75);
}

.book-container input {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #A8A9AD;
  border-radius: 25px;
  padding: 1rem;
  font-family: Libre Franklin, sans-serif;
  font-weight: bolder;
  font-size: medium;
  color: #FE0000;
}

.book-container .selection {
  display: inline-flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.book-container button {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FE0000;
  border-radius: 25px;
  font-family: Libre Franklin, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

/* Contact Section */

.contact-container {
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.50);
  padding: 3rem;
}

.contact-container h2 {
  color: #FE0000;
  font-size: xx-large;
}

.contact-container p {
  color: #FFFFFF;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  font-weight: bolder;
  font-size: large;
}

.contact-container .contact-form {
  background-color: #A8A9AD;
  padding: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.75);
  border: 2px solid white;
  border-radius: 15px;
}

/* Landing Footer */

.legal-container {
  text-align: center;
  font-size: small;
  color: #FFFFFF;
  background-color: black;
  padding: 1rem;
}

.legal-container p {
  margin-top: 0px;
}

/* ***** Global Page Styles ***** */

html {
  scroll-behavior: smooth;
}


/* Global Navbar */

.page-nav {
  background-color: #FFFFFF;

}

.page-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  list-style-type: none;
}

.page-nav a:hover {
  color: #A8A9AD;
}

.page-nav .home-link {
  margin-right: auto;
}

.page-nav .page-link {
  margin-left: auto;
  padding-right: 2rem;
  cursor: pointer;
}
 

.page-nav a {
  color: black;
  font-weight: 900;
}


/* Global Nav-Modal */

.nav-modal-bg {
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-modal-contents {
  height: fit-content;
  width: 25%;
  background: #FFFFFF;
  text-align: center;
  padding: 40px;
  position: relative;
  border-radius: 15px;
}

.close {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.nav-modal-contents h2 {
  position: absolute;
  top: 0;
  left: 1rem;
  color: #FE0000;
}

.nav-modal-contents ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding-top: 4rem;
}

.nav-modal-contents a {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: #A8A9AD;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 15px;
}

.nav-modal-contents a:hover {
  background-color: #FFFFFF;
  color: #A8A9AD;
}

/* Global Header */

.page-header {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header h2 {
  color: #FFFFFF;
  font-size: xxx-large;

}

#photo-header {
  background: url('../assets/photohead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#video-header {
  background: url('../assets/vidhead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#event-header {
  background: url('../assets/eventhead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Global About Section */

.page-about {
  text-align: center;
  padding: 2rem 2rem;
}

.page-about h2 {
  color: #FE0000;
  font-size: xx-large;
}

.page-about p {
  font-size: large;
  padding-bottom: 1rem;
}

/* Global Content Feature */

.feature-content {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #FE0000;
}

.feature-content h2 {
  color: #A8A9AD;
  font-size: xx-large;
}

.feature-content button {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  padding: .5rem;
  font-weight: bolder;
  color: #FE0000;
  cursor: pointer;
}

.feature-content button:hover {
  background-color: #FE0000;
  border: #FE0000;
  color: #FFFFFF;
  font-weight: bold;
}

/* Global Booking Section */

.page-book {
  text-align: center;
  padding: 2rem 2rem;
}

.page-book h2 {
  font-size: xx-large;
  color: #FE0000;
}

.page-book form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  gap: 1rem;
}

.page-book input {
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid #FE0000;
  border-radius: 25px;
  padding: 1rem;
  color: #FE0000;
  font-weight: bolder;
}

.page-book button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: .5rem;
  border: 2px solid #FE0000;
  border-radius: 25px;
  background-color: #FE0000;
  font-weight: bolder;
  color: #FFFFFF;
  cursor: pointer;
}

.page-book button:hover {
  background-color: #FFFFFF;
  border: #FFFFFF;
  color: #FE0000;
  font-weight: bolder;
}

/* Global Footer */

.legal-container .attribution {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

/* **Universal Styles** */

html, body, hr {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Libre Franklin, sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: Satisfy, cursive;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.75);
}

p {
  font-weight: 400;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
}
