@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap');


/* ***** Landing Page Styles ***** */

/* Header */

.header {
  position: relative;
  display: -ms-grid;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
}

.hd-title h1 {
  position: absolute;
  bottom: 37vh;
  left: 0;
  color: #FFFFFF;
  width: 100vw;
  font-size: 45px;
  text-align: center;
}


.hd-nav {
  position: absolute;
  top: .75rem;
  background-color: transparent;
}

.hd-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
  gap: 1rem;
  width: 100vw;
  padding-right: 2rem;
  overflow-x: hidden;
  box-sizing: unset;
}

.hd-navbar li, a {
  list-style: none;
  color: #FFFFFF;
  padding-left: 0;
  font-size: small;
  font-weight: 600;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
}

.logo img {
  width: 70px;  
}

.nav-left {
  background-color: rgba(255, 255, 255, 0.30);
  display: flex;
  gap: 1.5rem;
  padding: .75rem;
  border-radius: 25px;
}

.nav-left a {
  color: #FE0000;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20);
}



.hd-vid {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hd-vid video {
  z-index: 0;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



/* Services */

.services {
  background-color: #FE0000;
  padding: 5rem 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  background-color: #FE0000;
  font-size: xx-large;
  color: #A8A9AD;
}

.service-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 4rem;
  border-radius: 20px;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.50);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}

.card-wrapper {
  background-color: white;
  width: 100%;
  max-width: 360px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
  margin: 0 auto;
}

.card-head {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

.card-head img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.card-foot h2 {
  color: #A8A9AD;
  font-size: xx-large;
  padding: 1px;
}

.card-links {
  display: flex;
  justify-content: center;
  padding: .5rem;
  gap: 1rem;
  margin-bottom: 10px;
}

.card-links button {
  background-color: #FE0000;
  border-color: #A8A9AD;
  color: #FFFFFF;
  width: 5rem;
  border-radius: 20px;
  padding: 10px;
  font-family: Libre Franklin, sans-serif;
  font-size: medium;
  cursor: pointer;
  border-radius: 9999px;
  border: 1px solid #FE0000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}

.card-links button:hover {
  background-color: #FFFFFF;
  color: #FE0000;
}

.service-cards-large {
  display: none;
}


/* Booking Section */

.book-container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 2rem;
}

.bk-title {
  background-color: #FFFFFF;
  margin: 0px;
  padding: 3rem 0px;
  font-size: xx-large;
  color: #A8A9AD;
}


/* Contact Section */

.contact-container {
  background-color: #FE0000;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.50);
  padding: 3rem;
}

.contact-container h2 {
  color: #FE0000;
  font-size: x-large;
  padding: 1.5rem;
}

.contact-container p {
  color: #FFFFFF;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  font-weight: bolder;
  font-size: large;
  padding: -2rem;
}

.contact-container .contact-form {
  background-color: #A8A9AD;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.75);
  justify-content: center;
  border: 2px solid white;
  border-radius: 15px;
}

/* Landing Footer */

.legal-container {
  text-align: center;
  font-size: small;
  color: #FFFFFF;
  background-color: black;
  padding: 1rem;
}

.legal-container p {
  margin-top: 0px;
}

/* ****Tablet Sizes**** */
@media screen and (min-width: 600px) {
 
  /* Header */
 
  .header {
    height: 80vh;
  }

  .hd-vid {
    height: 100%;
  }

  .hd-nav {
    padding: 1rem;
  }

  .logo {
    margin-right: auto;
    margin-left: 50px;
  }
  
  .logo img {
    width: 100px;  
  }

  .nav-left {
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 2.5rem;
    padding: .75rem;
    border-radius: 25px;
  }
  
  .nav-left a {
    color: #FE0000;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20);
    font-size: large;
  }

  .hd-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    width: 100vw;
    padding-right: 3.5rem;
    overflow-x: hidden;
  }

  .hd-title {
    position: absolute;
    bottom: 45%;
    left: 0;
    color: #FFFFFF;
    width: 100vw;
    font-size: x-large;
    text-align: center;
  }

  /* Services */
  .services {
    background-color: #FE0000;
    padding: 3rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.50);
  }
  
  .title {
    background-color: #FE0000;
    font-size: xx-large;
    color: #A8A9AD;
  }
  
  .service-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.90);
  }
  
  .card-wrapper {
    background-color: white;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
  }


  /* Contact Page */
  .contact-container {
    background-color: #FE0000;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.50);
    padding: 5rem;
  }

}

/* Laptop->Desktop Styles */
@media screen and (min-width: 1000px) {
  .header h1 {
    font-size: 50px;
  }
  
  .services {
    padding: 3rem;
  }

  .services h1 {
    font-size: 35px;
  }
  
  #carouselExampleControls {
    display: none;
  }

  .service-cards-large {
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
  }
}

/* ***** Global Page Styles ***** */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* Global Navbar */

.page-nav {
  background-color: #FFFFFF;

}

.page-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.page-nav a:hover {
  color: #A8A9AD;
}

.home-link {
  margin-right: auto;
}

.home-link img {
  width: 70px;
}

.page-nav .page-link {
  margin-left: auto;
  padding-right: 2rem;
  cursor: pointer;
}
 

.page-nav a {
  color: black;
  font-weight: 900;
}


/* Global Header */

.page-header {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #FFFFFF;
  font-size: x-large;
  background-color: transparent;
}

/* Header Small Tablet Styles */
@media screen and (min-width: 600px) {
  .title h2 {
    font-size: 50px;
  }
}

#photo-header {
  background: url('../assets/photohead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#video-header {
  background: url('../assets/vidhead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#event-header {
  background: url('../assets/eventhead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about-header {
  background: url('../assets/CMGPro.JPEG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#digital-header {
  background: url('../assets/digital_art/Cover_arts/Untitled_Artwork\(3\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Global Content Feature */

.feature-content {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #FE0000;
}

.feature-content h2 {
  color: #A8A9AD;
  font-size: xx-large;
}

.feature-content button {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  padding: .5rem;
  font-weight: bolder;
  color: #FE0000;
  cursor: pointer;
}

.feature-content button:hover {
  background-color: #FE0000;
  border: 2px solid #FE0000;
  color: #FFFFFF;
  font-weight: bolder;
  transition: all .5s;
}



/* Global Booking Section */

.page-book {
  text-align: center;
  padding: 2rem 2rem;
}

.page-book h2 {
  font-size: xx-large;
  color: #FE0000;
}


/* Global Footer */

.legal-container .attribution {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

/* Global Gallery */
.gallery-body {
  margin: 1rem;
  text-align: center;
}

.gallery-body h1 {
  color: #FE0000;
}

.gallery-container {
  margin: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.10);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.gallery-img {
  width: 280px;
  height: 360px;
  border: 1px solid slategrey;
}

.gallery-nav {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
}

.gallery-nav button {
  width: 100px;
  height: 37.5px;
  border-radius: 90px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #FE0000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.gallery-nav button:hover {
  background-color: #FFFFFF;
  color: #FE0000;
  border: 2px solid #FE0000;
  transition: all .5s;
  cursor: pointer;
}

/* **Universal Styles** */

html, body, hr {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: Satisfy, cursive;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.75);
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

