@import '../theme';

.header {
    position: relative;
    display: grid;
    justify-items: center;

    .hd-vid {
        position: relative;
        height: 75vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;


        video {
            z-index: 0;
            position: absolute;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .hd-nav {
            z-index: 1;
            position: absolute;
            display: grid;
            justify-items: center;
            bottom: 0px;
            font-family: $header-font;

            .hd-navbar {
                display: flex;
                background-color: rgba(255, 255, 255, .3);
                padding-left: 0px;

                li {
                    list-style: none;
                    display: inline;
                    padding: 0 7vw;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 1em;
                    font-size: 1.5em;
                    font-weight: bolder;
                    color: $secondary-color;
                }
                a:hover {
                    background-color: rgba(255, 255, 255, .3);
                }
            }
    }

    .hd-logo {
        z-index: 1;
        position: absolute;
        display: grid;
        top: 15vh;
        justify-items: center;
        align-items: center;

            img {
                width: 75%;
            }
    }

    .hd-slogan {
        z-index: 1;
        position: absolute;
        display: grid;
        bottom: 20vh;
        justify-items: center;
        align-items: center;

            h1 {
             background-color: transparent;
             color: $secondary-color;
            }
    }

}
